/**
app
****/
.container {
    display: flex;
    justify-content: center;
}

p {
    letter-spacing: 0.08em;
}

/**
side
****/
.side {
    width: 200px;
}

.side-inner {
    text-align: left;
    height: 100vh;
    position: sticky;
    top: 0;
}

.side-inner li {
    height: 70px;
}

.side-inner li.top-icon {
    height: 100%;
    margin-bottom: 20px;
}

.side-inner li.my-icon {
    position: fixed;
    bottom: 0;
    padding: 15px;
}

.side-inner a {
    display: inline-flex;
}

.side-inner a:hover {
    background-color: #A8998C;
}

.side-inner a.top-icon {
    padding: 10px;
}

.side-inner a.top-icon:hover {
    background-color: #ffffff;
}

.side-inner p {
    height: 50px;
    margin: 0 0 0 10px;
    font-size: 18px;
    color: #000000;
    padding: 6px;
}

.side-inner img {
    width: 40px;
    height: 40px;
}

.side-inner img.top-icon {
    width: 50px;
    border-radius: 50%;
    height: 50px;
}

.side-inner img.my-icon {
    border-radius: 50%;
    border: 0.2px solid #aaa;
    object-fit: contain;
}
.popover{
    border: 1px solid #A8998C;
}
.popover-body a{
    color: #A8998C;
    text-decoration: none;
}

.main {
    width: calc(100% - 200px);
    border-left: 0.1px solid #A8998C;
    border-right: 0.1px solid #A8998C;
    max-width: 500px;
}

@media screen and (max-width: 770px) {
    .container {
        max-width: none;
    }

    .side {
        width: 80px;
    }

    .side-inner p {
        display: none;
    }

    .side-inner {
        text-align: center;
    }

    .main {
        width: calc(100% - 80px);
    }
}

@media screen and (max-width: 500px) {
    .container {
        padding-left: 0;
    }

    .side-inner img {
        width: 30px;
        height: 30px;
    }

    .side-inner img.top-icon {
        width: 40px;
        height: 40px;
    }

    .side-inner li {
        height: 50px;
    }

    .side-inner li.top-icon {
        margin-bottom: 10px;
    }
}

.modal-content {
    height: 300px;
}

.modal-content h2 {
    font-size: 20px;
    margin-left: 10px;
}

.btn-close:focus {
    box-shadow: none;
}

.modal-content .textarea {
    height: 350px;
}

.form-control:focus {
    box-shadow: none;
    border-color: #A8998C;
}

.modal-footer button {
    background-color: #78614D;
    color: #ffffff;
}

.modal-footer button:hover {
    background-color: #78614D;
    color: #ffffff;
}

.modal-footer button:focus {
    box-shadow: none;
}

/**
ditch
****/
.ditch {
    height: 10px;
    background-color: #78614D;
}

/**
main_post
****/
.posts-box {
}

.posts-box .post-box {
    border-top: 0.1px solid #A8998C;
}

.posts-box .post-box .name {
    display: flex;
    justify-content: flex-start;
    height: 60px;
}

.posts-box .post-box .name .post-my-icon {
    width: 60px;
    height: 60px;
    padding: 10px;
}

.posts-box .post-box .name .post-my-icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
    border: 0.2px solid #aaa;
}

.posts-box .post-box .name .post-my-name {
    margin-left: 10px;
    position: relative;
}

.posts-box .post-box .name .post-my-name a {
    display: flex;
    text-decoration: none;
}

.posts-box .post-box .name .post-my-name span {
    display: block;
    line-height: 60px;
}

.posts-box .post-box .name .post-my-name span.nickname {
    color: #000000;
    font-size: 17px;
    font-weight: bold;
}

.posts-box .post-box .name .post-my-name span.user-name {
    margin-left: 10px;
    color: #A8998C;
    font-size: 15px;
}

.posts-box .post-box .photo {
    width: 100%;
    position: relative;
}

.posts-box .post-box .photo::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.posts-box .post-box .photo .photo-box {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-top: 0.1px solid #A8998C;
    border-bottom: 0.1px solid #A8998C;
}

.posts-box .post-box .photo .photo-box img {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
    height: 100%;
    object-fit: contain;
}

.posts-box .post-box .photo .photo-box video {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
    height: 100%;
    object-fit: contain;
}

.posts-box .post-box .photo-bottom-icon {
    display: flex;
    width: 100%;
    height: 50px;
    position: relative;
}

.posts-box .post-box .photo-bottom-icon .photo-icon {
    width: 50px;
}

.posts-box .post-box .photo-bottom-icon .photo-bookmark-icon {
    position: absolute;
    right: 0;
    width: 50px;
}

.posts-box .post-box .photo-bottom-icon img {
    width: 100%;
    padding: 10px;
}

.posts-box .post-box .text-box {
    padding: 10px;
}

.posts-box .post-box .text-box p {
    font-size: 15px;
}

.posts-box .post-box .text-box p.like-count {
    font-weight: bold;
}

.posts-box .post-box .text-box p.post-date {
    font-size: 12px;
    color: #A8998C;
}

/**
mypage
****/
.btn-outline-dark {
    color: #78614D;
    border-color: #78614D;
}

.btn-outline-dark:hover {
    color: #fff;
    background-color: #78614D;
    border-color: #78614D;
}

.mypage-name {
    display: flex;
    height: 150px;
}

.mypage-name .my-icon {
    width: 150px;
    height: 150px;
    margin: 0 50px 0 50px;
    padding: 30px;
}

.mypage-name .my-icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 0.2px solid #ddd;
    object-fit: contain;
}

.mypage-name .my-name-box {
}

.mypage-name .my-name-box .my-name {
    margin-top: 30px;
    display: flex;
    height: 45px;
}

.mypage-name .my-name-box .my-name h1 {
    font-size: 27px;
    line-height: 45px;
}

.mypage-name .my-name-box .my-name p {
    margin-left: 20px;
    line-height: 45px;
    color: #A8998C;
}

.mypage-name .my-name-box .button-box {
    margin-top: 7px;
}

.mypage-name .my-name-box .button-box a {
}

.mypage-name .user {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

.mypage-name .user img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
    border: 0.2px solid #aaa;
}

.count {
    border-top: 0.1px solid #A8998C;
    border-bottom: 0.1px solid #A8998C;
    display: flex;
    height: 75px;
}

.count .count-box {
    width: 100%;
    text-align: center;
}

.count .line {
    border-right: 0.1px solid #A8998C;
}

.count .count-box p {
    margin: 0;
    color: #A8998C;
}

.count .count-box p.lang-color {
    color: #000000;
    font-weight: bold;
}

.mypage-icon {
    display: flex;
    justify-content: space-around;
    height: 40px;
    border-bottom: 0.1px solid #A8998C;
}

.mypage-icon .mypage-icon-box {
    width: 40px;
    height: 40px;
    padding: 5px;
}

.mypage-icon .mypage-icon-box img {
    width: 100%;
}

.mypage-posts {
    display: flex;
    flex-wrap: wrap;
}

.mypage-posts .post-box {
    width: 50%;
    position: relative;
}

.mypage-posts .post-box::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.mypage-posts .post-box .photo-box {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-right: 0.1px solid #A8998C;
    border-bottom: 0.1px solid #A8998C;
}

.mypage-posts .post-box .photo-box img {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
    height: 100%;
    object-fit: contain;
}

.mypage-posts .post-box .photo-box video {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
    height: 100%;
    object-fit: contain;
}

.btn-outline-dark:focus {
    box-shadow: none;
}
.modal-dialog .mypage{
    height: 600px;
}
/**
search
****/
.search-box {
    text-align: center;
    height: 70px;
}

.search-box .search {
    line-height: 70px;
}

.search-box .search input {
    height: 40px;
    width: 80%;
    border: 1px solid #78614D;
    border-radius: 100px;
}

.order-box {
    height: 50px;
    border-bottom: 0.1px solid #A8998C;
    display: flex;
}

.order-box a {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.order-box .order {
    line-height: 47px;
}

.order-box .order p {
    width: 50px;
    margin: auto;
    color: #000000;
    font-weight: bold;
}

.order-box .order p:hover {
    border-bottom: 3px solid #78614D;
}

.order-box .order p.rank-main {
    border-bottom: 3px solid #78614D;
}

.order-box .order p.new {
    border-bottom: 3px solid #78614D;
}

.order-box .order p.video {
    border-bottom: 3px solid #78614D;
}

.search-posts {
    display: flex;
    flex-wrap: wrap;
}

.search-posts .post-box {
    width: 50%;
    position: relative;
}

.search-posts .post-box::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.search-posts .post-box .photo-box {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-right: 0.1px solid #A8998C;
    border-bottom: 0.1px solid #A8998C;
}

.search-posts .post-box .photo-box img {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
    height: 100%;
    object-fit: contain;
}

.search-posts .post-box .photo-box video {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
    height: 100%;
    object-fit: contain;
}

/**
notification
****/
.notifications-box {
}

.notifications-box .notification-box {
    border-bottom: 0.1px solid #A8998C;
    display: flex;
}

.notifications-box .notification-box .icon {
    width: 40px;
    margin: 17px 30px;
}

.notifications-box .notification-box .icon img {
    width: 100%;
}

.notifications-box .notification-box .notification {
}

.notifications-box .notification-box .notification .users-icon {
    display: flex;
    margin: 10px 0 20px;
}

.notifications-box .notification-box .notification .users-icon .user-icon {
    width: 50px;
    margin-right: 10px;
}

.notifications-box .notification-box .notification .users-icon .user-icon a {
}

.notifications-box .notification-box .notification .users-icon .user-icon img {
    width: 100%;
    border-radius: 50%;
}

.notifications-box .notification-box .notification p {
    font-size: 15px;
}

.notifications-box .notification-box .notification p.post {
    color: #A8998C;
}

.notifications-box .notification-box .notification span {
    font-weight: bold;
}

/**
message
****/
.messages {
}

.messages a {
    display: block;
    height: 100px;
    text-decoration: none;
}

.messages .message-box {
    height: 100px;
    display: flex;
    border-bottom: 0.1px solid #A8998C;
    position: relative;
}

.messages .message-box .message-icon {
    margin: 0 30px;
    padding: 10px;
    width: 100px;
}

.messages .message-box .message-icon img {
    width: 100%;
    border-radius: 50%;
}

.messages .message-box .message-name {
}

.messages .message-box .message-name h2 {
    color: #000000;
    font-size: 18px;
    margin: 20px 0 0 0;
}

.messages .message-box .message-name p {
    font-size: 15px;
    margin: 10px 0 0 0;
    color: #A8998C;
}

.messages .message-box .message-name span {
    position: absolute;
    right: 5px;
}
